:root {
  --main-border: 1px solid rgb(2, 48, 71);
  --main-bg-color: white;
  --main-font-color: #070707;
  --not-color: #c50000;

  --table-bg-color-odd: rgb(243, 243, 243);
  --table-bg-color-even: rgb(226, 226, 226);
  --table-font-color-odd: black;
  --table-font-color-even: black;
  --table-header-bg-color: rgb(37, 37, 37);
  --table-header-font-color: rgb(243, 243, 243);
  --table-footer-bg-color: rgb(37, 37, 37);
  --table-footer-font-color: rgb(243, 243, 243);
  
  --attribution-bg-color: rgba(225, 225, 225, 0.6);
  --attribution-font-color: #070707;
  
  --picture-link-bg-color: rgba(51, 51, 51, 0.8);
  --picture-link-font-color: rgb(168, 194, 250);
  --external-link-font-color: rgb(105, 152, 252);
 
  --nav-bg-color: rgba(7,7,7, 0.8);
  --nav-font-color: white; 

  --title-font-color: white;
  
  --footer-font-color: white;
  --footer-bg-color: #070707;

  --header-font-color: white;
  --header-bg-color: #070707;

  --acco-card-shadow:  
      -1.2px -3.7px 4.5px rgba(0, 0, 0, 0.017),
      -1.4px -4.4px 8.9px rgba(0, 0, 0, 0.024),
      -0.4px -1.3px 13.3px rgba(0, 0, 0, 0.03),
      1.7px 5.5px 17.9px rgba(0, 0, 0, 0.035),
      4.9px 15.5px 23.3px rgba(0, 0, 0, 0.04),
      8.9px 28.2px 30.7px rgba(0, 0, 0, 0.046),
      13.7px 43.1px 43.8px rgba(0, 0, 0, 0.053),
      19px 60px 80px rgba(0, 0, 0, 0.07);
  --acco-card-font: black;
  --acco-card-bg: white;
}

body,html {
  font-family: var(--main-font-family, 'sans-serif');
  font-variant: var(--main-font-variant, 'small-caps');
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h4 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
} 

h3 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
  padding-top: 1rem;
} 

h2 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
  padding-top: 1.2rem;
} 

h1 {
  font-family: var(--header-font-family, 'sans-serif');
  font-variant: var(--header-font-variant, 'small-caps');
  font-size: 3rem;
  padding-bottom: 0.8rem;
  padding-top: 1.2rem;
} 

ol {
  padding-left: 0.5rem;
  margin: 1rem;
}

ul {
  margin-left: 1rem;
  padding-left: 0.2rem;
}
